{%extends 'main.html'%}

{% block title %} Films List {% endblock %}

{%block website%}
    {%if user.is_authenticated%}
        Hello {{user.username}}<br>
        <a href="{% url 'logout' %}">Logout</a>
    {%else%}
        <a href="{% url 'login' %}">Login</a>
    {%endif%}

    <hr>

    <a href="{% url 'new_film' %}">new film</a>

    {%if filmy|length == 0%}
        <h2> Brak filmow</h2>
    {%else%}
        <h2>Ilosc filmow w BD: {{filmy|length}}</h2>
        {% for film in filmy %}
        <h3>{{film.title}}</h3>
        <p>{{film.description}}</p>
        <a href="{% url 'edit_film' film.id %}">edit</a>
        <a href="{% url 'delete_film' film.id %}">delete</a>
        {% endfor %}
    {%endif%}
{%endblock%}
